<app-base-page></app-base-page>

   <div class="container">
     <div class="jumbotron">
         <h1 class="display-4" align="center">Kranthi kumar </h1>
         <p class="lead" align="center"><br>
         <img src="../../../assets/images/kranthi.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:200px;height:200px" >
         </p>
         <hr class="my-4">
         <p>My name is Kranthi Kumar. 
           I am currently pursuing my final term of software engineering technology course at centennial college. 
           I have worked of 3 years at Accenture company from 2014-2017.
           at Accenture I worked as application development analyst serving MARS incorporated client.
           my job requires me to write technical design, code and unit test according to client requirements. 
           After working close to 2 years in Accenture I moved to application support team where I used to fix defects raised from client and develop new features raised by client.
           in centennial I worked on different assignments, projects across different technologies like C#, Java, Android, Angular, Express, MongoDB, AWS. 
           Over the years I have developed strong problem-solving skills, effective communication skills and honed my ability to manage conflicts within team. 
           I am keen to utilize my passion for providing robust software development to the company.
        </p><hr>
         <p class="lead">Below is my resume
         <a href="../../../assets/documents/updated resume for jobs.doc"><b>My Resume</b></a>

         </p>
       </div>
   </div>



