<app-base-page></app-base-page>

   <div class="container">
     <div class="jumbotron">
         <h1 class="display-4">Kranthi kumar </h1>
         <p class="lead">
        my services are .</p>
         <hr class="my-4">
         <p>  </p>
         <p class="lead">
         <h3>Services Offered...</h3>
           <ol>
           <li>Web development</li><ul type="disc"><li>Angular,C#,MVC,Java,Express</li></ul>
           <img src="../../../assets/images/Service1.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:700px;height:350px" ><br><br>
           <li>Android Development</li><ul type="disc"><li>implementation of android mobile applications.</li></ul>
           <img src="../../../assets/images/Service2.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:700px;height:350px" ><br><br>
           <li>Cloud solutions</li><ul type="disc"><li>migrating to cloud suchs AWS,Microsoft Azure,Oracle etc/li></ul>
           <img src="../../../assets/images/Service3.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:700px;height:350px" ><br><br>
           <li>Applications</li><ul type="disc"><li>Microsoft Office, Eclipse, Visual Studio, Visual Studio Code.</li></ul>
           </ol>

       </div>
   </div>



