<app-base-page></app-base-page>

<!--
 Project Name: COMP308 Assignment2
   Name: Kranthi kumar G J
   Student id: 300976059
   Date: 05-APR-2019
-->
   <div class="container">
     <div class="jumbotron">
         <h1 class="display-4">Kranthi kumar </h1>
         <p class="lead">
        my services are .</p>
         <hr class="my-4">
         <p>  </p>
         <p class="lead">
         <h3>Services Offered...</h3>
           <ol>
           <li><b>Web development</b></li><ul type="disc"><li>Angular,C#,MVC,Java,Express</li></ul>
           <img src="../../../assets/images/Service1.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:700px;height:350px" ><br><br>
           <li><b>Android Development</b></li><ul type="disc"><li>implementation of android mobile applications.</li></ul>
           <img src="../../../assets/images/Service2.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:700px;height:350px" ><br><br>
           <li><b>Cloud solutions</b></li><ul type="disc"><li>migrating to cloud suchs AWS,Microsoft Azure,Oracle etc/li></ul>
           <img src="../../../assets/images/Service3.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:700px;height:350px" ><br><br>
           </ol>

       </div>
   </div>



