<app-base-page></app-base-page>

<!--
 Project Name: COMP308 Assignment2
   Name: Kranthi kumar G J
   Student id: 300976059
   Date: 05-APR-2019
-->
   <div class="container">
  <br><br><br>
         <h1 class="display-4" style="font-size:xx-large" align="center"><b>Welcome </b></h1>
         <p class="lead" ><h5 align="center">To <br><h2 align="center">Kranthi kumar's Portfolio</h2></h5><br>
         <p align="center" ><b>This  website will give you more information and details  information about me.</b></p><br>
          <p align="center" >This website will take you through my portfolio.you can know about me,my projects
                  and services.you can contact me by providing contact details at contact page </p>
         <hr class="my-4">
         <p>  </p>
         <p class="lead">

         </p>

   </div>




