<app-base-page></app-base-page>


<!--
 Project Name: COMP308 Assignment2
   Name: Kranthi kumar G J
   Student id: 300976059
   Date: 05-APR-2019
-->

   <div class="container">
     <div class="jumbotron">
         <h1 class="display-4">Kranthi Kumar</h1>
         <p class="lead"><br>

         Below are my projects</p>
         <hr class="my-4">
         <p> </p>
         <p class="lead">
         <h4><b>1. Tollsoft website</b></h4>
          toll payment website which allows users to pay their tolls online and check their bills
          <img src="../../../assets/images/Picture1.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:700px;height:350px" ><br><br>
          <img src="../../../assets/images/Picture2.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:700px;height:350px" >
           <br><br>
           <h4><b>2. Restaurant API project</b></h4>
           Restaurant API project which allows users to enter the restaurant  details like name,location,cusine type and reviews.
           <img src="../../../assets/images/Picture3.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:700px;height:350px" >
          <br><br>
           <img src="../../../assets/images/Picture4.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:700px;height:350px" >


       </div>
   </div>



