/* Project Name: COMP308 Assignment2
   Name: Kranthi kumar G J
   Student id: 300976308
   Date: 05-APR-2019 */

body {
  background-image: url("../../client/src/assets/images/bg2.png");
}

h1 {
  color:red;
  text-transform: uppercase;

}
